<fieldset>
  <legend>
    Standard Direktive
  </legend>

  *NgIf
  <div *ngIf="true">Wird angezeigt</div>
  <div *ngIf="false">Wird nicht angezeigt</div>

  <br/> [ngSwitch]
  <div [ngSwitch]="500">
    <div *ngSwitchCase="100">Ist 100</div>
    <div *ngSwitchCase="500">Ist 500</div>
    <div *ngSwitchDefault>Ist was anderes</div>
  </div>

  <br/> [ngClass]<br/>
  <button class="btn" [ngClass]="{'btn-danger':isDanger, 'btn-primary':!isDanger}" (click)="isDanger=isDanger?false:true">Style-Button</button>
  <button class="btn" [ngClass]="someattribute?.cssclass">Style-Button</button>

  <br/> <br/>[ngStyle]<br/>
  <div [ngStyle]="{color: colorRed}">Hello Style</div>

  <br/> <br/>*ngFor<br/>
  <ul>
    <li *ngFor="let element of elements; let i=index; let isOdd='odd'; let isEven='even'; let isLast='last'">
      {{element}}, Index: {{i}}, Odd: {{isOdd}}, Even: {{isEven}}, Last: {{isLast}}
    </li>
  </ul>

    <br/> <br/>ngNonBindable<br/>
    {{nothingHere}}
    <div ngNonBindable>
      {{nothingHere}}
    </div>
</fieldset>

<fieldset>
  <legend>
    Standard Pipes
  </legend>
  uppercase: {{'uppercase' | uppercase}}<br/>
  lowercase: {{'lowercase' | lowercase}}<br/>
  slice: {{'slice' | slice:2:5}}<br/>
  slice: {{['Hello','World', '!'] | slice:1}}<br/>
  json: {{elements | json}}<br/>
  number '1.1-1': {{12 | number:'1.1-1'}}<br/>
  number '1.5-5': {{12 | number:'1.5-5'}}<br/>
  date 'short': {{ d | date:'shortDate'}}<br/>
  date 'dd.MM.yyyy': {{ d | date:'dd.MM.yyyy'}}<br/>
  percent: {{12 | percent:'2.2-2'}}<br/>
  currency: {{12 | currency:'EUR':true:'2.2-2'}}<br/>
  async: {{obs | async}}<br/><br/>
  
  custome: {{5 | multi}}
  custome: {{5 | multi:'3'}}
</fieldset>
