<fieldset>
    <legend>
        PropertyBinding
    </legend>
    <!--
    Allgemein: <div [DOM-Attribut]="Expression">
    Allgemein: <div [attr.HTML-Attribut]="Expression">
-->

    <!-- 'value' setzt die DOM-Property, attr.alt das HTML-Attribut als Expression, class das HTML Attribut ohne Expression  -->
    Input: <input [value]="value" [attr.alt]="sd" class="sd" />

    <!-- Styling allgemein: <div [style.style-attribut.style-einheit]="Expression" -->
    Input: <input value="value" [style.width.px]="100+100" />

    <!-- alternative mittels Interpolation -->
    Input: <input value="{{value}}" />

    <button (click)="change()">change</button>
</fieldset>

<fieldset>
    <legend>
        EventBinding
    </legend>

    Event Verarbeitung:
    <input (focus)="key='focus'" (keydown.enter)="onEnter();" (keydown.alt.arrowdown)="onAltDown();" (keydown.f5)="key='f5';$event.preventDefault();">    {{key}}
</fieldset>

<fieldset>
    <legend>
        TwoWayBinding
    </legend>

    <input [(ngModel)]="in1" /> : {{in1}}<br/>


    <!-- ausführliche Schreibweise -->
    <input [ngModel]="in2" (ngModelChange)="in2=$event" /> : {{in2}}
</fieldset>

<fieldset>
    <legend>
        Template Variable
    </legend>
    <input #in (change)="input(in)" /><input [value]="in.value" /><br/> {{in}}
</fieldset>


<fieldset>
    <legend>
        Microsyntax
    </legend>

    <ul>
        <li *ngFor="let e of elements">{{e}}</li>
    </ul>

    <br/>
    <p *ngIf="ifCond">da</p> <p *ngIf="!ifCond">weg</p> <button (click)="ifCond=!ifCond">*NgIf-Switch</button>
</fieldset>

<fieldset #fieldset>
    <legend>
        Input und Output
    </legend>

    <app-colorfull [rgb-string]="'255,150,50'" (styleChange)="buttonColor=$event"></app-colorfull> -> {{buttonColor}}
</fieldset>


<fieldset>
    <legend>
        ViewChildren / ViewChild
    </legend>

    Anzahl Color-Inputs: {{anzahlColorComponents}}<br/>
    Erstes Color-Inputs: {{colorComponent?.addamount}}<br/>
    Selektion über Templatevariable: {{fieldSetComponent}}<br/>
</fieldset>