<fieldset>
  <legend>
    Einfache Animationen
  </legend>

  <button class="btn btn-lg btn-primary" [@btnActive]="activeBtn=='1'" (click)="activeBtn='1'">Button 1</button>
  <button class="btn btn-lg btn-primary"[@btnActive]="activeBtn=='2'" (click)="activeBtn='2'">Button 2</button>

</fieldset>

<fieldset>
  <legend>
    Einfache Animationen
  </legend>

  <button class="btn btn-lg btn-primary" [@btnActive2]="activeBtn=='1'" (click)="activeBtn='1'">Button 1</button>
  <button class="btn btn-lg btn-primary"[@btnActive2]="activeBtn=='2'" (click)="activeBtn='2'">Button 2</button>

</fieldset>