@import '../node_modules/bootstrap/less/variables.less';

.skin-blue-light .main-header .navbar {
    background-color: rgb(66,119,252)
}

.main-footer {
  display: none;
}

fieldset+fieldset{
  margin-top: 3em;
}

@media (min-width: @screen-md-max) {
  .main-footer {
    display: block;
  }
}

#uLogo {
  background-color: white;
img {
    height: 40px;
  }
}
